<script src="{{asset 'labelSection.js'}}"></script>

<script>
function validURL(string) {
    try {
        let valURL = new URL(string);
        return true;
    } catch (_) {
        return false;
    }
}
function getSearch(){
  let searchString=window.location.search.substr(1);
  if(searchString.length > 0){
  	$("#srchbar")[0].value=searchString;
  	srchFunc();
  }
  console.log(searchString);
  }
function srchFunc() {
    input = $("#srchbar")[0].value.toUpperCase();
    $(".app").each(function() {
        comptxt = $(this).text();
        if (comptxt.toUpperCase().indexOf(input) > -1) {
            $(this).show();
        } else {
            $(this).hide();
        }
    });
}
//Probably a more elegant solution.
function toggleCluster() {
    setTimeout(function() {
        $('.app').hide();
        if ($("button.cluster-mahuika").hasClass('active')) {
            console.log("showingMahuika");
            $('.app-mahuika').show();
        }
        if ($("button.cluster-maui").hasClass('active')) {
            console.log("showingMaui");
            $('.app-maui').show();
        }
    }, 1);
}

///////////////////////////////////////////////
//Async Bits
//////////////////////////////////////////////

//Retreive the JSON files containing app info.
var getMauika = new Promise(function(resolve, reject) {
    $.get("{{asset 'mahuikaApps.json'}}", function(data) {
        resolve(data);
    });
});
var getMaui = new Promise(function(resolve, reject) {
    $.get("{{asset 'mauiApps.json'}}", function(data) {
        resolve(data);
    });
});
var getOverwrites = new Promise(function(resolve, reject) {
    $.get("{{asset 'overwriteApps.json'}}", function(data) {
        resolve(data);
    });
});
//Get the names and links of all child articles.
var getArticles = new Promise(function(resolve, reject) {
    let sectionID = 360000040076;
    let validArticleArray = [];
    $.get(`https://support.nesi.org.nz/api/v2/help_center/sections/${sectionID}/articles.json`, function(data) {
        data.articles.forEach(function(article) {
            if (!article.draft) {
                validArticleArray.push({
                    name: article.name,
                    link: article.html_url
                });
            }
        });
        resolve(validArticleArray);
    });
});

///////////////////////////////////////////////////      
//Once all async bits done.      
Promise.all([getArticles, getMauika, getMaui, getOverwrites]).then(function(values) {
    
    articles=values[0]
    assetsMahuikaApps=values[1]
    assetsMauiApps=values[2]
  	assetsOverwrites=values[3]
    let obj_applist={};      
    mergeData();
    appendTable();
  	getSearch();

          
function mergeData() {
//Parse and merge

  //Generated application properties.
  let assetsDerived=$.extend( true, assetsMahuikaApps, assetsMauiApps);
  
  //Merge derived and set values
  obj_applist = $.extend(true, assetsDerived, assetsOverwrites);
  
    articles.forEach(function(article) {
            if (obj_applist.hasOwnProperty(article.name)) {
                obj_applist[article.name].nesidoc = article.link;
            } else {
                console.log("Article " + article.name + " has no corresponding application!");
            }
        });
  	console.log(obj_applist);
    }
  function appendTable() {
    //Foreach app append to list
    //Sort alphabetically with nesidcs on top
  
    Object.keys(obj_applist).sort(function (a, b) {
  		if (obj_applist[a].hasOwnProperty('nesidoc')==obj_applist[b].hasOwnProperty('nesidoc')){
          if (a > b) return 1;
          else if (a < b) return -1;
          return 0;
  		}else{
          if (obj_applist[a].hasOwnProperty('nesidoc')) return -1;
          else return 1;
      }
			
    	}).forEach(function(key) {
        let appRow = "' data-toggle='collapse' data-target='#collapse-" + key + "'>" + "<h5 class='app-list-header'>" + key + "</h5>";
        let appRowClasses = "<div class='list-group-item list-group-item-action app ";
        appRow += "<span class='clusters'>";
        if (obj_applist[key].hasOwnProperty("maui")) {
          if (obj_applist[key].maui) {
              appRow += "<span class='cluster cluster-maui'>Māui</span>";
              appRowClasses += "app-maui "
          }
        }
        if (obj_applist[key].hasOwnProperty("mahuika")) {
          if (obj_applist[key].mahuika) {
              appRow += "<span class='cluster cluster-mahuika'>Mahuika</span>";
              appRowClasses += "app-mahuika "
          }
				}
        
        appRow += "</span><span class='badges'>";
        if (obj_applist[key].hasOwnProperty("cats")) {
          obj_applist[key].cats.forEach(function(cat) {
              appRow += "<span class= 'badge badge-" + cat + "'>" + cat + "</span>";
              appRowClasses += "cat-" + cat + " ";
          });
        }else{
          //console.log(key + " has no category information!")
        }
          
        appRow += "</span>";
        appRow += "<div id='collapse-" + key + "' class='collapse'  data-parent='#accordion'>";
        appRow += "<div class='card-body card-app'>";

				if (obj_applist[key].hasOwnProperty("short")) {
        appRow += "<div class='card-app-short'>" + obj_applist[key].short + "</div>";
        }else{
           console.log(key + " has no description!")
        }
				appRow += "<div class='card-app-extra'>";
        if (obj_applist[key].hasOwnProperty("versions")) {
                appRow += "<div class='versionlist'><b>Avaliable Versions</b><li class='versionlist-list'>";
                Object.keys(obj_applist[key].versions).forEach(function(version) {
  										appRow += "<ul>" + version;
                      //If avaliable on both clusters, check version info is the same.
                      if(obj_applist[key].maui && obj_applist[key].mahuika){
                        if((obj_applist[key].versions[version]=='maui') && !(obj_applist[key].versions[version]=='mahuika')){         	
                          appRow += "<span class='font-italic'> - Māui</span>"
                        }else if(!(obj_applist[key].versions[version]=='maui') && (obj_applist[key].versions[version]=='mahuika')){
                          appRow += "<span class='font-italic'> - Mahuika</span>"
                        }
  										}
  										appRow+="</ul>"
                  });
                appRow += "</li></div>";
        } else {
            console.log(key + " has no version property!")
        }


        appRow += "<div class='docLinks'><b>Links</b><li class='docLinks-list'>";
        if (validURL(obj_applist[key].homepage)) {
            appRow += "<ul><a class='docLink docLink-homepage' href='" + obj_applist[key].homepage + "'>Homepage</a></ul>";
            appRowClasses += "app-homepage ";
        } else {
            console.log(key + " has no homepage information!");
        }
        if (validURL(obj_applist[key].nesidoc)) {
            appRow += "<ul><a class='docLink docLink-nesidoc' href='" + obj_applist[key].nesidoc + "'>NeSI Docs</a></ul>";
            appRowClasses += "app-nesidoc teir1";
        }else{
          	appRowClasses += "teir2 ";
        }
				appRow += "</li></div>";
        appRow += "</div>";
        appRow += "</div>";
        appRow += "</div>"
        appRow += "</div>";
        $("#mainList > ul").append(appRowClasses + appRow);
    });
}

});
</script>
<style>
li {
    list-style: none;
}
.badge-biology{
  color: #fff;
  background-color: #28a745;
}
.badge-genomics{
  color: #fff;
  background-color: #17a2b8;
}
.badge-other{
  color: #212529;
  background-color: #ffc107;
}
.badge-engineering{
  color: #fff;
  background-color: #ff7737;
}
.badge-general {
    color: #ffffff;
    background-color: #dfb474;
}
.badge{
  margin: 0 1em 0 1em;
}
.cluster:before {
    content: " \f233 ";
    font-family: "FontAwesome";
  	margin-right: 0.2em;
}
.docLink-homepage:before {
    content: " \f15b ";
    font-family: "FontAwesome";
  	margin-right: 0.2em;
}
.docLink-nesidoc:before {
    content: " \f15c ";
    font-family: "FontAwesome";
  	margin-right: 0.2em;
}
.clusters {
  	float: right;
}
.cluster {
    padding: 0.4em 0.4em 0.4em 0.4em;
    margin: 0 0.2em 0 0.2em;
    border-radius: .25rem;
    border: 1px black solid;
}
.cluster-maui {
  	color: #3c816e;
    border-color: #3c816e;
}
.cluster-mahuika {
    color: #972220;
    border-color: #972220;
}
.active.cluster-maui {
    color: #ffffff;
  	background-color: #3c816e;
}
.active.cluster-mahuika {
    color: #ffffff;
    background-color: #972220;
}
.app-list-header {
      display: inline;
      }
.docLink {
    display: block;
}
.card-app {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
          
    
.list-group-item.teir1 {
          border-style: solid;
}
.list-group-item.teir2 {
          border-style: dashed;
          color: gray;
}
.article__body ul {
    padding-left: inherit;
}
.card-app-extra{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card-app-short{
  flex: 0 1 auto;
	margin-bottom: 1em;
}
      
</style>

<div class="section-page" id="section-id-{{section.id}}" data-section-page>

  {{breadcrumbs}}

  <div class="page-header">

    <div class="page-header__headline">
      <h1 class="h2">
        {{#if section.internal}}
        <span class="fa fa-lock" title="{{t 'internal'}}"></span>
        {{/if}}
        {{section.name}}
      </h1>

      {{subscribe}}
    </div>

<!--     {{#if section.description}}
    <p class="page-header__description">{{section.description}}</p>
    {{/if}} -->
    <div class="article__body markdown" itemprop="articleBody">
<p>The NeSI HPC Compute and Analytics Service includes a number of centrally installed and maintained software packages..</p>
<p>Details of how NeSI manages Application Software is available <a href="/hc/en-gb/articles/360000170355">here</a>.</p>
<div class="layoutrow">
<div class="layoutcolumn" style="padding-right:1.5em">
<h2>Mahuika</h2>
<p>On Mahuika, and Ancillary nodes (both Mahuika and Māui) software packages are provided using 'lmod' an implementation of Environment Modules with <a href="https://lmod.readthedocs.io/en/latest/010_user.html" target="_blank" rel="noopener">additional features</a>.<br>A list of available software can be obtained with the <code>module spider</code> command.</p></div>
<div class="layoutcolumn">
<h2>Māui</h2>
<p>On Māui (XC50), software packages are provided using traditional Environment Modules. No modules are loaded by default.<br><br>A list of available software can be obtained with the <code>module avail</code> command.</p>
</div> 
<h2>Application List</h2>          
    <br>
    <div class="input-group mb-3">
  		<div class="input-group-prepend">
    		<span class="input-group-text" id="basic-addon1" style="font-family: 'FontAwesome'; font-style: normal;"><span class="fas fa-search"></span></span>
  		</div>
  		<input type="text" id="srchbar" onkeyup="srchFunc()" class="form-control" placeholder="Search for Applications" aria-label="Application">
      <button type='button' data-toggle="button" onclick="toggleCluster()" aria-pressed="false" autocomplete="off" class='btn cluster cluster-mahuika active'> Mahuika</button>
      <button type='button' data-toggle="button" onclick="toggleCluster()" aria-pressed="false" autocomplete="off" class='btn cluster cluster-maui active'> Māui</button>

		</div>
    <br>
		<div class="layoutrow">
      <div class="article-div">
      <div id="mainList" class="label_data data-labelsection="> 
      	<ul class="list-group">
      </ul>
      </div>
      </div>
    </div>
    <br>
          <div>
   <p>If the application you are looking for is not here you can make <a href="https://support.nesi.org.nz/hc/en-gb/articles/360000361675-Software-Installation-Request">software installation</a> request or try <a href="https://support.nesi.org.nz/hc/en-gb/sections/360000040056-HPC-Software-Environment"> compiling it yourself.</a></p></div>
          </div>
  </div>
  {{pagination}}
